<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test_NG.DBLoginTest"/>
      <class name="Test_NG.LoginTestCsv"/>
      <class name="Test_NG.API_Test"/>
      <class name="Test_NG.CRUD_Api"/>
      <class name="Test_NG.Get_All"/>
      <class name="Test_NG.Example_2"/>
      <class name="Test_NG.Single_API"/>
      <class name="Test_NG.LoginTest"/>
      <class name="Test_NG.Selenium_TestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
